body 
{
  background-color: paleturquoise;
}

#main-container 
{
  background-color: yellow;
  height:100px;
  /* height: 90vh; */
}   

#second-container 
{
  color:chartreuse;
  background-color: blueviolet;
}

#third-container
{
  color:cadetblue;
  background-color: coral;
}

#first-container{
  color:red;
  background-color: blue;
}