body 
{
  background-color: paleturquoise;
}

#main-container 
{
  background-color: yellow;
  height:500px;
  /* height: 90vh; */
}   

#second-container 
{
  color:chartreuse;
  background-color: blueviolet;
  width: 30%;
  display: inline-block;
}

#third-container
{
  color:cadetblue;
  background-color: coral;
  clear:both;
}

#first-container{
  color:red;
  background-color: blue;
  width: 30%;
  float: left;  
  height: 100px;
  /* display: inline-block; */
}